@import "components/fonts";
@import "components/colors";
@import "components/buttons";
@import "components/hamburger";

@import "components/home";

@import "components/medium";

body {
  background-color: $black;
  overflow-x: hidden;
  p {
    color: $text;
    font-family: $poppins;
    font-weight: 300;
  }
  h1,
  h2,
  h3 {
    font-family: $kanit;
    color: #fff;
  }
  img {
    object-fit: cover;
  }
  video {
    width: 100%;
    height: auto;
  }
  a{
    text-decoration: none;
  }
}
